.currency-display-component {
  display: flex;
  align-items: center;

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $black;
  }

  &__suffix {
    padding-left: 4px;
  }
}
