.add-token-button {
  display: flex;
  flex-direction: column;
  color: $black;
  width: 185px;
  margin: 36px auto;
  text-align: center;

  &__help-header {
    font-weight: bold;
    font-size: 1rem;
  }

  &__help-desc {
    font-size: 0.75rem;
    margin-top: 1rem;
  }

  &__button {
    font-size: 0.75rem;
    margin: 1rem;
    text-decoration: underline;
    color: $black;
    cursor: pointer;
  }
}
