/*
  Buttons
 */

.button {
  min-height: 44px;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  transition: border-color .3s ease;
  padding: 0 16px;
  min-width: 140px;
  width: 100%;
  text-transform: uppercase;
  outline: none;
  font-family: Overpass;

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-primary {
  color: $white;
  background: $dexon-purple;
  border: 2px solid $dexon-purple;

  &:hover {
    border-color: $white-transparent;
  }

  &:active {
    border-color: $white;
  }
}

.btn-secondary {
  color: $monzo;
  border: 2px solid lighten($monzo, 40%);

  &:active {
    background: lighten($monzo, 55%);
    border-color: $monzo;
  }

  &:hover {
    border-color: $monzo;
  }
}

.btn-default {
  color: $white;
  border: 2px solid $dusty-gray;
  background: $dusty-gray;

  &:hover {
    border-color: $white-transparent;
  }

  &:active {
    border-color: $white;
  }
}

.btn-confirm {
  color: $white;
  border: 2px solid $dexon-purple;
  background-color: $dexon-purple;
}

.btn-raised {
  color: $white;
  background-color: $dexon-purple;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 6px;
  height: initial;
  min-height: initial;
  width: initial;
  min-width: initial;
}

.btn--large {
  min-height: 54px;
}

.btn-green {
  background-color: #02c9b1; // TODO: reusable color in colors.css
}

.btn-clear {
  background: $white;
  text-align: center;
  padding: .8rem 1rem;
  color: $dexon-purple;
  border: 2px solid $dexon-purple;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: 400;
  transition: border-color .3s ease;

  &:hover {
    border-color: $white;
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-cancel {
  background: $white;
  text-align: center;
  padding: .9rem 1rem;
  color: $scorpion;
  border: 2px solid $dusty-gray;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: 400;
  transition: border-color .3s ease;
  width: 100%;

  &:hover {
    border-color: $scorpion;
  }
}

// No longer used in flat design, remove when modal buttons done
// div.wallet-btn {
//   border: 1px solid rgb(91, 93, 103);
//   border-radius: 2px;
//   height: 30px;
//   width: 75px;
//   font-size: 0.8em;
//   text-align: center;
//   line-height: 25px;
// }
// .btn-red {
//   background: rgba(254, 35, 17, 1);
//   box-shadow: 0px 3px 6px rgba(254, 35, 17, 0.36);
// }
button[disabled],
input[type="submit"][disabled] {
  cursor: not-allowed;
  opacity: .5; // background: rgba(197, 197, 197, 1);
  // box-shadow: 0 3px 6px rgba(197, 197, 197, .36);
}

// button.spaced {
//   margin: 2px;
// }
// button:not([disabled]):hover, input[type="submit"]:not([disabled]):hover {
//   transform: scale(1.1);
// }
// button:not([disabled]):active, input[type="submit"]:not([disabled]):active {
//   transform: scale(0.95);
// }
button.primary {
  padding: 8px 12px;
  background: $dexon-purple;
  box-shadow: 0 3px 6px rgba(247, 134, 28, 0.36);
  color: $white;
  font-size: 1.1em;
  font-family: Overpass;
  text-transform: uppercase;
}

.btn-light {
  padding: 8px 12px; // background: #FFFFFF; // $bg-white
  box-shadow: 0 3px 6px rgba(247, 134, 28, 0.36);
  color: #585d67; // TODO: make reusable light button color
  font-size: 1.1em;
  font-family: Overpass;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #979797; // #TODO: make reusable light border color
  opacity: .5;
}

.btn-tertiary {
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 42px;
}
