.unit-input {
  min-height: 54px;
  border: 1px solid $tundora;
  border-radius: 4px;
  background-color: $dark-gray;
  color: $dim-gray;
  font-size: 1rem;
  padding: 8px 10px;
  position: relative;

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
  }

  input[type="number"]:hover::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
  }

  &__input {
    color: $white;
    font-size: 1rem;
    font-family: Roboto;
    border: none;
    outline: 0 !important;
    max-width: 22ch;
  }

  &__input-container {
    display: flex;
    align-items: center;
  }

  &__suffix {
    margin-left: 3px;
  }

  &--error {
    border-color: $red;
  }
}
