.transaction-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
  margin-top: 8px;

  &__completed-transactions {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__header {
    flex: 0 0 auto;
    font-weight: 600;
    text-align: center;
    color: $black;
    padding: 8px 0;
  }

  &__transactions {
    flex: 1;
    overflow-y: auto;
  }

  &__pending-transactions {
    margin-bottom: 16px;
  }

  &__empty {
    flex: 1;
    display: grid;
    grid-template-rows: 35% 1fr;
    padding-top: 8px;
  }

  &__empty-text {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    color: $black;
  }
}
