.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    font-family: Overpass;
    font-size: 1rem;
    color: $black;
    border-left: 0;
    flex: 1;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &--active {
      background-color: $black;
      color: $white;
    }

    &:disabled {
      opacity: .5;
    }
  }
}
