.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    font-family: Roboto;
    font-size: 1rem;
    color: $manatee;
    border-style: solid;
    border-color: $geyser;
    border-width: 1px 1px 1px;
    border-left: 0;
    flex: 1;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      border-left: 1px solid $geyser;
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &--active {
      background-color: $dexon-purple;
      color: $white;
    }

    &:disabled {
      opacity: .5;
    }
  }
}
